@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes aurora {
        from {
            background-position:
                    50% 50%,
                    50% 50%;
        }
        to {
            background-position:
                    350% 50%,
                    350% 50%;
        }
    }

    .animate-aurora {
        animation: aurora 100s linear infinite;
    }
}
